body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: "kumbh sans", sans-serif;
    font-size: 18px;
}

hr{
    width: 100%;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
    width: 330px;
    height: 350px;
}

.cartao .informacoes-perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.cartao .informacoes-perfil .foto{
    border-radius: 50%;
    margin-top: 20px;
}

.cartao .informacoes-numeros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.informacoes-numeros .informacao .contagem .cartao .informacoes-perfil{
    font-weight: 700;
}

.cartao .informacoes-perfil .idade, .cartao .informacoes-perfil .cidade, .informacoes-numeros .informacao .tipo-contagem{
    color: var(--text-color);
}